export(cfl_games)
import(jsonlite)
importFrom(assertthat,are_equal)
importFrom(assertthat,assert_that)
importFrom(assertthat,not_empty)
importFrom(httr,GET)
importFrom(httr,content)
importFrom(httr,stop_for_status)