export(cfl_games)
export(cfl_plays)
export(tidyCFL.api_key)
import(jsonlite)
import(dplyr)
import(tibble)
importFrom(assertthat,are_equal)
importFrom(assertthat,assert_that)
importFrom(assertthat,not_empty)
importFrom(httr,GET)
importFrom(httr,content)
importFrom(httr,stop_for_status)